In [1]:
import pandas as pd

In [3]:
vtb_data = pd.read_table('vtb/040722_VTB_74177.txt', sep=';', header=None)

In [5]:
vtb_data = vtb_data.drop([1, 2, 3, 4], axis=1)

In [7]:
vtb_data.columns = ['Дата платежа', 'ЛС', 'ФИО', 'Адрес', 'Период оплаты', 'Сумма операции', 'Сумма перевода', 'Сумма комиссии']

In [12]:
vtb_data

,Дата платежа,ЛС,ФИО,Адрес,Период оплаты,Сумма операции,Сумма перевода,Сумма комиссии
0,04-07-2022,240401,Крамаренко Ольга Викторовна,"МАГАДАН, Билибина, д.18, кв.17",622.0,415.86,415.86,0.0
1,04-07-2022,254880,Шишкин Евгений Васильевич,"МАГАДАН, Марчеканский пер., д.37, кв.52",622.0,780.74,780.74,0.0
2,04-07-2022,345233,Оноприенко Ксения Александровна,"МАГАДАН, Шандора Шимича, д.3корп. 1, кв.30",622.0,7000.00,7000.00,0.0
3,04-07-2022,344931,Оноприенко Ксения Александровна,"МАГАДАН, Берзина, д.17б, кв.31",622.0,3000.00,3000.00,0.0
4,04-07-2022,443028,Горбачёв Константин Васильевич,"МАГАДАН, Пролетарская, д.71корп. 1, кв.88",622.0,481.33,481.33,0.0
...,...,...,...,...,...,...,...,...
88,04-07-2022,312566,Гиззатуллин Альберт Ишхужович,"МАГАДАН, Транспортная, д.14, кв.30",622.0,1765.69,1765.69,0.0
89,04-07-2022,133087,Дулбаева Ираида Аркадьевна,"МАГАДАН, Болдырева, д.2а, кв.33",622.0,827.20,827.20,0.0
90,04-07-2022,122790,Могилевич Сергей Станиславович,"МАГАДАН, Пролетарская, д.46корп. 2, кв.22",622.0,655.52,655.52,0.0
91,04-07-2022,431701,Черешнева Марина Георгиевна,"МАГАДАН, Пролетарская, д.65корп. 1, кв.84",622.0,435.85,435.85,0.0
92,=92,05-07-2022,NaN,NaN,nan,NaN,NaN,NaN

In [10]:
vtb_data['Период оплаты'] = vtb_data['Период оплаты'].astype('str')

In [ ]:
if len(vtb_data['Период оплаты']) > 5:
    vtb_data['Период оплаты'] = vtb_data['Период оплаты'][:4]