In [2]:
import pandas as pd

In [3]:
vtb_data = pd.read_table('vtb/031022_VTB_74177.txt', sep=';', header=None)

In [4]:
vtb_itog = vtb_data[vtb_data[0].str.contains('=')]

In [6]:
vtb_itog = vtb_itog.drop([6,7,8,9,10,11], axis=1)

In [7]:
vtb_itog.columns = ['Количество', 'Сумма операции', 'Сумма перевода', 'Сумма комиссии', '№п/п', 'Дата']

In [8]:
vtb_itog['Количество'] = vtb_itog['Количество'].apply(lambda s: s[1:4])

In [9]:
vtb_itog

    Количество Сумма операции  Сумма перевода  Сумма комиссии №п/п        Дата
140         14      144998.86       144998.86             0.0  220  04-10-2022

In [10]:
vtb_data = vtb_data[~vtb_data[0].str.contains('=')]

In [12]:
vtb_data = vtb_data.drop([1, 2, 3, 4], axis=1)

In [13]:
vtb_data.columns = ['Дата платежа', 'ЛС', 'ФИО', 'Адрес', 'Период оплаты', 'Сумма операции', 'Сумма перевода', 'Сумма комиссии']

In [14]:
vtb_data['Период оплаты'] = vtb_data['Период оплаты'].astype('str')

In [15]:
def period_pay(values):
    if len(values)>5:
        return values[:4]
    else:
        return '0'+values[:3]

In [16]:
vtb_data['Период оплаты'] = vtb_data['Период оплаты'].apply(period_pay)

In [17]:
vtb_data['Дата платежа'] = pd.to_datetime(vtb_data['Дата платежа'], dayfirst=True)

In [18]:
vtb_data = vtb_data.sort_values('ЛС')

In [19]:
sum_oper = round(vtb_data['Сумма операции'].sum(), 2)
sum_pere = round(vtb_data['Сумма перевода'].sum(), 2)
sum_komi = round(vtb_data['Сумма комиссии'].sum(), 2)

In [21]:
print(sum_oper, sum_pere, sum_komi)

144998.86 144998.86 0.0

In [22]:
vtb_data

,Дата платежа,ЛС,ФИО,Адрес,Период оплаты,Сумма операции,Сумма перевода,Сумма комиссии
23,2022-10-03,105106,Наумкин Виталий Михайлович,"МАГАДАН, Космонавтов пл., д.5, кв.6",0822,884.25,884.25,0.0
7,2022-10-03,105113,Кочергин Сергей Валерьевич,"МАГАДАН, Космонавтов пл., д.5, кв.13",0822,1776.36,1776.36,0.0
69,2022-10-03,110116,Муха Любомир Эдвардович,"МАГАДАН, Ленина, д.5, кв.14",0922,250.00,250.00,0.0
85,2022-10-03,1102131,Гордейко Анастасия Сергеевна,"МАГАДАН, Ленина, д.7, кв.67",0922,1243.00,1243.00,0.0
55,2022-10-03,110468,Шушаков Денис Александрович,"МАГАДАН, Пролетарская, д.20а, кв.13",0922,500.00,500.00,0.0
...,...,...,...,...,...,...,...,...
68,2022-10-03,442841,Агафонов Иван Андреевич,"МАГАДАН, Пролетарская, д.71корп. 2, кв.41",0922,860.62,860.62,0.0
42,2022-10-03,443190,Давыденко Борис Юрьевич,"МАГАДАН, Набережная р. магаданки, д.75корп. 2...",0922,751.49,751.49,0.0
60,2022-10-03,450755,Лисовская Ирина Викторовна,"МАГАДАН, Цветочная, д.16",0922,1803.87,1803.87,0.0
112,2022-10-03,462353,Пономарева Инна Дмитриевна,"МАГАДАН, Пролетарская, д.61корп. 3, кв.15, ком.2",0922,2110.45,2110.45,0.0
113,2022-10-03,462353-П,Пономарева Инна Дмитриевна,"МАГАДАН, Пролетарская, д.61корп. 3, кв.15, ком.2",0922,10.23,10.23,0.0

In [23]:
def check_sum_count():
    if float(vtb_itog['Сумма операции'].astype('float')) == sum_oper and float(vtb_itog['Сумма перевода'].astype('float')) == sum_pere and \
        float(vtb_itog['Сумма комиссии'].astype('float')) == sum_komi and int(vtb_itog['Количество'].astype('float')) == len(vtb_data):
        print('Все в порядке')
        return 0
    else:
        print('Ошибка в суммах или в количестве')
        return -1

In [33]:
int(vtb_itog['Количество'].astype('float')) == len(vtb_data)
print(int(vtb_itog['Количество'].astype('float')))
print(len(vtb_data))

14
140

In [24]:
if check_sum_count() == -1:
    print('Error!!!')

Ошибка в суммах или в количестве
Error!!!

In [19]:
str(vtb_itog['Дата'].values[0])

'05-07-2022'

In [22]:
from xlsxwriter.utility import xl_range

[{'header': 'Дата платежа', 'format': <xlsxwriter.format.Format object at 0x00000215A88DDAE0>}, {'header': 'ЛС', 'format': <xlsxwriter.format.Format object at 0x00000215A88DDAE0>}, {'header': 'ФИО', 'format': <xlsxwriter.format.Format object at 0x00000215A88DDAE0>}, {'header': 'Адрес', 'format': <xlsxwriter.format.Format object at 0x00000215A88DDAE0>}, {'header': 'Период оплаты', 'format': <xlsxwriter.format.Format object at 0x00000215A88DDAE0>}, {'header': 'Сумма операции', 'format': <xlsxwriter.format.Format object at 0x00000215A88DDAE0>}, {'header': 'Сумма перевода', 'format': <xlsxwriter.format.Format object at 0x00000215A88DDAE0>}, {'header': 'Сумма комиссии', 'format': <xlsxwriter.format.Format object at 0x00000215A88DDAE0>}]

In [37]:
sh_name = str(vtb_itog['Дата'].values[0])
writer = pd.ExcelWriter('vtb/040722_VTB_74177.xlsx', engine='xlsxwriter', datetime_format='dd.mm.yyyy')
vtb_data.to_excel(writer, sheet_name=sh_name, index=False)

workbook = writer.book
worksheet = writer.sheets[sh_name]
money_format = workbook.add_format({'num_format': '# ##0.00'})
date_format = workbook.add_format({'num_format': 'dd.mm.yyyy'})
highrow_format = workbook.add_format({'fg_color': '#E2EFDA'})
sum_format = workbook.add_format({'bold': True})


#for col_num, value in enumerate(vtb_data.columns.values):
#    worksheet.write(0, col_num, value, header_format)
(max_row, max_col) = vtb_data.shape

#for i_row in range(0, max_row):
#    if i_row % 2 == 0:
#        worksheet.set_row(row=i_row+1, cell_format=highrow_format)
#header_format = workbook.add_format({'text_wrap': 1})

header_columns = []
for col_name in vtb_data.columns:
    head_dict = dict(header=col_name)
    header_columns.append(head_dict)
#print(header_columns)

worksheet.set_column(0, 0, 12, date_format)
worksheet.set_column(5, 7, 15, money_format)
worksheet.set_column(2, 3, 50)

worksheet.write(max_row+1, 5, '=SUM(F2:F{})'.format(max_row+1), sum_format)
worksheet.write(max_row+1, 6, '=SUM(G2:G{})'.format(max_row+1), sum_format)
worksheet.write(max_row+1, 7, '=SUM(H2:H{})'.format(max_row+1), sum_format)
#cell_range = xl_range(0, 0, max_row, max_col)  # A1:E4
worksheet.add_table(0, 0, max_row, max_col-1, {'columns': header_columns})

writer.save()
writer.close()

In [169]:
print('=СУММА(F1:F{})'.format(max_row))

=СУММА(F1:F92)

In [146]:

#worksheet.set_column('F:H', len(vtb_data)+1, money_format)

0

c:\Users\Lubchanskiy\AppData\Local\Programs\Python\Python310\lib\site-packages\xlsxwriter\workbook.py:339: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")