In [38]:
import pandas as pd

In [65]:
vtb_data = pd.read_table('vtb/060722_VTB_74177.txt', sep=';', header=None)

In [66]:
vtb_itog = vtb_data[vtb_data[0].str.contains('=')]

In [67]:
vtb_itog = vtb_itog.drop([6,7,8,9,10,11], axis=1)

In [68]:
vtb_itog.columns = ['Количество', 'Сумма операции', 'Сумма перевода', 'Сумма комиссии', '№п/п', 'Дата']

In [69]:
vtb_itog['Количество'] = vtb_itog['Количество'].apply(lambda s: s[1:3])

In [70]:
vtb_itog

   Количество Сумма операции  Сумма перевода  Сумма комиссии №п/п        Дата
79         79       62756.42        62756.42             0.0  131  07-07-2022

In [71]:
vtb_data = vtb_data[~vtb_data[0].str.contains('=')]

In [72]:
vtb_data = vtb_data.drop([1, 2, 3, 4], axis=1)

In [73]:
vtb_data.columns = ['Дата платежа', 'ЛС', 'ФИО', 'Адрес', 'Период оплаты', 'Сумма операции', 'Сумма перевода', 'Сумма комиссии']

In [74]:
vtb_data['Период оплаты'] = vtb_data['Период оплаты'].astype('str')

In [75]:
def period_pay(values):
    if len(values)>5:
        return values[:4]
    else:
        return '0'+values[:3]

In [76]:
vtb_data['Период оплаты'] = vtb_data['Период оплаты'].apply(period_pay)

In [77]:
vtb_data['Дата платежа'] = pd.to_datetime(vtb_data['Дата платежа'], dayfirst=True)

In [78]:
vtb_data = vtb_data.sort_values('ЛС')

In [83]:
sum_oper = round(vtb_data['Сумма операции'].sum(), 2)
sum_pere = round(vtb_data['Сумма перевода'].sum(), 2)
sum_komi = round(vtb_data['Сумма комиссии'].sum(), 2)

In [84]:
print(sum_oper, sum_pere, sum_komi)

62756.42 62756.42 0.0

In [64]:
vtb_data

,0,1,2,3,4,5,6,7,8,9,10,11
0,04-07-2022,00-04-47,4.00,4.098804e+09,sdgvklgivl7yonebrj7kplg3w,240401,Крамаренко Ольга Викторовна,"МАГАДАН, Билибина, д.18, кв.17",622.0,415.86,415.86,0.0
1,04-07-2022,01-11-19,4.00,4.098812e+09,nlhgapfkpvc57c24jcqlato93,254880,Шишкин Евгений Васильевич,"МАГАДАН, Марчеканский пер., д.37, кв.52",622.0,780.74,780.74,0.0
2,04-07-2022,01-17-10,4.00,4.098813e+09,h4nckq8afwa7kpjnhclaf4vh4,345233,Оноприенко Ксения Александровна,"МАГАДАН, Шандора Шимича, д.3корп. 1, кв.30",622.0,7000.00,7000.00,0.0
3,04-07-2022,01-17-33,4.00,4.098813e+09,de82zqdtciyg1wa3p3ovf9afk,344931,Оноприенко Ксения Александровна,"МАГАДАН, Берзина, д.17б, кв.31",622.0,3000.00,3000.00,0.0
4,04-07-2022,01-21-22,4.00,4.098813e+09,o56x5ccgxpqcljvt153ee2iqu,443028,Горбачёв Константин Васильевич,"МАГАДАН, Пролетарская, д.71корп. 1, кв.88",622.0,481.33,481.33,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
88,04-07-2022,22-59-27,4.00,4.099613e+09,28xq8xkj24m887pabqw4ib1wx,312566,Гиззатуллин Альберт Ишхужович,"МАГАДАН, Транспортная, д.14, кв.30",622.0,1765.69,1765.69,0.0
89,04-07-2022,23-02-56,4.00,4.099614e+09,cpy4c9p69ib8ka4na5zqox5nt,133087,Дулбаева Ираида Аркадьевна,"МАГАДАН, Болдырева, д.2а, кв.33",622.0,827.20,827.20,0.0
90,04-07-2022,23-34-25,4.00,4.099623e+09,mcyl7bxp9bocmdovcx8mbw6zm,122790,Могилевич Сергей Станиславович,"МАГАДАН, Пролетарская, д.46корп. 2, кв.22",622.0,655.52,655.52,0.0
91,04-07-2022,23-47-55,4.00,4.099626e+09,1c4nxgqejmjg6ae63kpgtl8ab,431701,Черешнева Марина Георгиевна,"МАГАДАН, Пролетарская, д.65корп. 1, кв.84",622.0,435.85,435.85,0.0
92,=92,132932.67,132932.67,0.000000e+00,129,05-07-2022,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
def check_sum_count():
    if float(vtb_itog['Сумма операции'].astype('float')) == sum_oper and float(vtb_itog['Сумма перевода'].astype('float')) == sum_pere and \
        float(vtb_itog['Сумма комиссии'].astype('float')) == sum_komi and int(vtb_itog['Количество'].astype('float')) == len(vtb_data):
        print('Все в порядке')
        return 0
    else:
        print('Ошибка в суммах или в количестве')
        return -1

In [18]:
if check_sum_count() == -1:
    print('Error!!!')

Все в порядке

In [19]:
str(vtb_itog['Дата'].values[0])

'05-07-2022'

In [22]:
from xlsxwriter.utility import xl_range

[{'header': 'Дата платежа', 'format': <xlsxwriter.format.Format object at 0x00000215A88DDAE0>}, {'header': 'ЛС', 'format': <xlsxwriter.format.Format object at 0x00000215A88DDAE0>}, {'header': 'ФИО', 'format': <xlsxwriter.format.Format object at 0x00000215A88DDAE0>}, {'header': 'Адрес', 'format': <xlsxwriter.format.Format object at 0x00000215A88DDAE0>}, {'header': 'Период оплаты', 'format': <xlsxwriter.format.Format object at 0x00000215A88DDAE0>}, {'header': 'Сумма операции', 'format': <xlsxwriter.format.Format object at 0x00000215A88DDAE0>}, {'header': 'Сумма перевода', 'format': <xlsxwriter.format.Format object at 0x00000215A88DDAE0>}, {'header': 'Сумма комиссии', 'format': <xlsxwriter.format.Format object at 0x00000215A88DDAE0>}]

In [37]:
sh_name = str(vtb_itog['Дата'].values[0])
writer = pd.ExcelWriter('vtb/040722_VTB_74177.xlsx', engine='xlsxwriter', datetime_format='dd.mm.yyyy')
vtb_data.to_excel(writer, sheet_name=sh_name, index=False)

workbook = writer.book
worksheet = writer.sheets[sh_name]
money_format = workbook.add_format({'num_format': '# ##0.00'})
date_format = workbook.add_format({'num_format': 'dd.mm.yyyy'})
highrow_format = workbook.add_format({'fg_color': '#E2EFDA'})
sum_format = workbook.add_format({'bold': True})


#for col_num, value in enumerate(vtb_data.columns.values):
#    worksheet.write(0, col_num, value, header_format)
(max_row, max_col) = vtb_data.shape

#for i_row in range(0, max_row):
#    if i_row % 2 == 0:
#        worksheet.set_row(row=i_row+1, cell_format=highrow_format)
#header_format = workbook.add_format({'text_wrap': 1})

header_columns = []
for col_name in vtb_data.columns:
    head_dict = dict(header=col_name)
    header_columns.append(head_dict)
#print(header_columns)

worksheet.set_column(0, 0, 12, date_format)
worksheet.set_column(5, 7, 15, money_format)
worksheet.set_column(2, 3, 50)

worksheet.write(max_row+1, 5, '=SUM(F2:F{})'.format(max_row+1), sum_format)
worksheet.write(max_row+1, 6, '=SUM(G2:G{})'.format(max_row+1), sum_format)
worksheet.write(max_row+1, 7, '=SUM(H2:H{})'.format(max_row+1), sum_format)
#cell_range = xl_range(0, 0, max_row, max_col)  # A1:E4
worksheet.add_table(0, 0, max_row, max_col-1, {'columns': header_columns})

writer.save()
writer.close()

In [169]:
print('=СУММА(F1:F{})'.format(max_row))

=СУММА(F1:F92)

In [146]:

#worksheet.set_column('F:H', len(vtb_data)+1, money_format)

0

c:\Users\Lubchanskiy\AppData\Local\Programs\Python\Python310\lib\site-packages\xlsxwriter\workbook.py:339: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")