In [1]:
import pandas as pd

In [2]:
vtb_data = pd.read_table('vtb/040722_VTB_74177.txt', sep=';', header=None)

In [3]:
vtb_itog = vtb_data[vtb_data[0].str.contains('=')]

In [4]:
vtb_itog = vtb_itog.drop([6,7,8,9,10,11], axis=1)

In [5]:
vtb_itog.columns = ['Количество', 'Сумма операции', 'Сумма перевода', 'Сумма комиссии', '№п/п', 'Дата']

In [6]:
vtb_itog['Количество'] = vtb_itog['Количество'].apply(lambda s: s[1:3])

In [7]:
vtb_itog

   Количество Сумма операции  Сумма перевода  Сумма комиссии №п/п        Дата
92         92      132932.67       132932.67             0.0  129  05-07-2022

In [8]:
vtb_data = vtb_data[~vtb_data[0].str.contains('=')]

In [9]:
vtb_data = vtb_data.drop([1, 2, 3, 4], axis=1)

In [10]:
vtb_data.columns = ['Дата платежа', 'ЛС', 'ФИО', 'Адрес', 'Период оплаты', 'Сумма операции', 'Сумма перевода', 'Сумма комиссии']

In [11]:
vtb_data['Период оплаты'] = vtb_data['Период оплаты'].astype('str')

In [12]:
def period_pay(values):
    if len(values)>5:
        return values[:4]
    else:
        return '0'+values[:3]

In [13]:
vtb_data['Период оплаты'] = vtb_data['Период оплаты'].apply(period_pay)

In [14]:
vtb_data['Дата платежа'] = pd.to_datetime(vtb_data['Дата платежа'], dayfirst=True)

In [15]:
vtb_data = vtb_data.sort_values('ЛС')

In [16]:
sum_oper = vtb_data['Сумма операции'].sum()
sum_pere = vtb_data['Сумма перевода'].sum()
sum_komi = vtb_data['Сумма комиссии'].sum()

In [60]:
vtb_data

,Дата платежа,ЛС,ФИО,Адрес,Период оплаты,Сумма операции,Сумма перевода,Сумма комиссии
13,2022-07-04,105124,Будников Сергей Федотович,"МАГАДАН, Космонавтов пл., д.5, кв.24",0622,636.72,636.72,0.0
84,2022-07-04,105159,Стасевич Александр Георгиевич,"МАГАДАН, Космонавтов пл., д.5, кв.59",0622,1246.34,1246.34,0.0
86,2022-07-04,111137,Макалинская Ксения Павловна,"МАГАДАН, Карла Маркса, д.50, кв.72",0622,332.21,332.21,0.0
7,2022-07-04,120986,Киселева Юлия Николаевна,"МАГАДАН, Парковая, д.21корп. 3, кв.15",0622,32.64,32.64,0.0
22,2022-07-04,121673,Пан Светлана Александровна,"МАГАДАН, Якутская, д.14, кв.64",0622,195.43,195.43,0.0
...,...,...,...,...,...,...,...,...
35,2022-07-04,443224,Штефан Татьяна Васильевна,"МАГАДАН, Набережная р. магаданки, д.75корп. 2...",0622,462.67,462.67,0.0
25,2022-07-04,450755,Лисовская Ирина Викторовна,"МАГАДАН, Цветочная, д.16",0622,1061.20,1061.20,0.0
39,2022-07-04,460424,Кучинская Елена Викторовна,"МАГАДАН, Спортивная, д.12",0622,12006.72,12006.72,0.0
67,2022-07-04,463144,Мельникова Светлана Евгеньевна,"МАГАДАН, Набережная р. магаданки, д.61, кв.2а",0622,423.35,423.35,0.0
55,2022-07-04,464041,Колесникова Инна Владимировна,"МАГАДАН, Пролетарская, д.81, кв.36, ком.1,2,3,4",0622,748.79,748.79,0.0

In [17]:
def check_sum_count():
    if float(vtb_itog['Сумма операции'].astype('float')) == sum_oper and float(vtb_itog['Сумма перевода'].astype('float')) == sum_pere and \
        float(vtb_itog['Сумма комиссии'].astype('float')) == sum_komi and int(vtb_itog['Количество'].astype('float')) == len(vtb_data):
        print('Все в порядке')
        return 0
    else:
        print('Ошибка в суммах или в количестве')
        return -1

In [18]:
if check_sum_count() == -1:
    print('Error!!!')

Все в порядке

In [19]:
str(vtb_itog['Дата'].values[0])

'05-07-2022'

In [22]:
from xlsxwriter.utility import xl_range

[{'header': 'Дата платежа', 'format': <xlsxwriter.format.Format object at 0x00000215A88DDAE0>}, {'header': 'ЛС', 'format': <xlsxwriter.format.Format object at 0x00000215A88DDAE0>}, {'header': 'ФИО', 'format': <xlsxwriter.format.Format object at 0x00000215A88DDAE0>}, {'header': 'Адрес', 'format': <xlsxwriter.format.Format object at 0x00000215A88DDAE0>}, {'header': 'Период оплаты', 'format': <xlsxwriter.format.Format object at 0x00000215A88DDAE0>}, {'header': 'Сумма операции', 'format': <xlsxwriter.format.Format object at 0x00000215A88DDAE0>}, {'header': 'Сумма перевода', 'format': <xlsxwriter.format.Format object at 0x00000215A88DDAE0>}, {'header': 'Сумма комиссии', 'format': <xlsxwriter.format.Format object at 0x00000215A88DDAE0>}]

In [37]:
sh_name = str(vtb_itog['Дата'].values[0])
writer = pd.ExcelWriter('vtb/040722_VTB_74177.xlsx', engine='xlsxwriter', datetime_format='dd.mm.yyyy')
vtb_data.to_excel(writer, sheet_name=sh_name, index=False)

workbook = writer.book
worksheet = writer.sheets[sh_name]
money_format = workbook.add_format({'num_format': '# ##0.00'})
date_format = workbook.add_format({'num_format': 'dd.mm.yyyy'})
highrow_format = workbook.add_format({'fg_color': '#E2EFDA'})
sum_format = workbook.add_format({'bold': True})


#for col_num, value in enumerate(vtb_data.columns.values):
#    worksheet.write(0, col_num, value, header_format)
(max_row, max_col) = vtb_data.shape

#for i_row in range(0, max_row):
#    if i_row % 2 == 0:
#        worksheet.set_row(row=i_row+1, cell_format=highrow_format)
#header_format = workbook.add_format({'text_wrap': 1})

header_columns = []
for col_name in vtb_data.columns:
    head_dict = dict(header=col_name)
    header_columns.append(head_dict)
#print(header_columns)

worksheet.set_column(0, 0, 12, date_format)
worksheet.set_column(5, 7, 15, money_format)
worksheet.set_column(2, 3, 50)

worksheet.write(max_row+1, 5, '=SUM(F2:F{})'.format(max_row+1), sum_format)
worksheet.write(max_row+1, 6, '=SUM(G2:G{})'.format(max_row+1), sum_format)
worksheet.write(max_row+1, 7, '=SUM(H2:H{})'.format(max_row+1), sum_format)
#cell_range = xl_range(0, 0, max_row, max_col)  # A1:E4
worksheet.add_table(0, 0, max_row, max_col-1, {'columns': header_columns})

writer.save()
writer.close()

In [169]:
print('=СУММА(F1:F{})'.format(max_row))

=СУММА(F1:F92)

In [146]:

#worksheet.set_column('F:H', len(vtb_data)+1, money_format)

0

c:\Users\Lubchanskiy\AppData\Local\Programs\Python\Python310\lib\site-packages\xlsxwriter\workbook.py:339: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")