In [1]:
import pandas as pd
import zipfile as zip
import os

In [40]:
df = pd.read_csv('data\SB415_178749_28072022.txt', header=None, sep=';', encoding='Windows-1251')

In [41]:
df.columns = ['дата', 'время', 'банк', 'ид_банка', 'транзакция', 'лицевой', 'ФИО.', 'адрес', 'сумма', 'сумма_безкомисcии', 'комиссия', 'канал']
df = df[df['дата'].str.contains('=') == False]

In [42]:
df['сумма'] = df['сумма'].str.replace(',', '.')
df['сумма_безкомисcии'] = df['сумма_безкомисcии'].str.replace(',', '.')
df['комиссия'] = df['комиссия'].str.replace(',', '.')

In [43]:
df['сумма'] = pd.to_numeric(df['сумма'])
df['сумма_безкомисcии'] = pd.to_numeric(df['сумма_безкомисcии'])
df['комиссия'] = pd.to_numeric(df['комиссия'])

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 235 entries, 0 to 234
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   дата               235 non-null    object
 1   время              235 non-null    object
 2   банк               235 non-null    object
 3   ид_банка           235 non-null    object
 4   транзакция         235 non-null    int64
 5   лицевой            235 non-null    object
 6   ФИО.               235 non-null    object
 7   адрес              235 non-null    object
 8   сумма              235 non-null    float64
 9   сумма_безкомисcии  235 non-null    float64
 10  комиссия           235 non-null    float64
 11  канал              235 non-null    float64
dtypes: float64(4), int64(1), object(7)
memory usage: 23.9+ KB

In [49]:
df_g = df.groupby('канал').agg({'сумма':'sum', 'сумма_безкомисcии': 'sum', 'комиссия': 'sum'})

In [52]:
df_g.loc['Total',:] = df.sum(axis=0)

In [53]:
df_g

           сумма  сумма_безкомисcии  комиссия
канал
1.0     16070.68           16070.68      0.00
2.0     10366.02           10366.02      0.00
5.0    275308.03          272039.70   3268.33
6.0       576.76             569.84      6.92
Total  302321.49          299046.24   3275.25