In [1]:
import pandas as pd

In [10]:
import numpy as np

In [120]:
log = pd.read_csv("data/log.csv")

In [121]:
log.columns = ['user_id','time','bet','win']
#log = log.dropna(axis = 0)    
#log['time'] = log.time.str.replace('[', '')
#log['time'] = pd.to_datetime(log['time'])
#log['hour'] =  log.time.dt.hour

In [21]:
np.isnan(log.bet.values).sum()

514

In [51]:
log.win.isna().sum()

861

In [75]:
def fillna_win(row):  
    # Нужно дописать
    if not pd.isna(row.win):
        return row.win
    elif pd.isna(row.bet):
        return 0
    else:
        return row['bet'] * -1

In [76]:
# Применяем функцию  
new_win = log.apply(lambda row: fillna_win(row), axis=1)  
  
# Заменяем старый столбец с пропусками на новый без пропусков  
log['win'] = new_win

In [91]:
log['bet'] = log["bet"].fillna(0)
log['win'] = log["win"].fillna(0)

In [80]:
log[log.net > 0].shape[0]

138

In [92]:
log['net'] = log.win - log.bet

In [122]:
percent_bet = log[log.bet > 0].bet.shape[0] / log.shape[0]
print('Процент ставок: {:.2%}'.format(percent_bet))

Процент ставок: 48.55%

In [108]:
percent_win = log[(log.bet > 0) &(log.net > 0)]['net'].shape[0] / log.shape[0]
print('Процент выйгрышей {:.2%}'.format(percent_win))

Процент выйгрышей 13.81%

In [109]:
percent_loose = log[(log.bet > 0) &(log.net < 0)]['net'].shape[0] / log.shape[0]
print('Процент проигрышей {:.2%}'.format(percent_loose))

Процент проигрышей 34.73%

In [123]:
min_bet = log[log.bet > 0].bet.min()
print(min_bet)

100.0

In [124]:
min_bet_amount = log[log.bet == min_bet]['bet'].shape[0]

In [125]:
print(min_bet_amount)

48

In [82]:
log.net.median()

5347.0

In [87]:
np.mean(log.bet)

6785.738144329897

In [88]:
log['bet'].dropna().mean()

6785.738144329897

In [93]:
log

,user_id,time,bet,win,net
0,Запись пользователя № - user_973,[2019-01-01 14:51:16,0.0,0.0,0.0
1,Запись пользователя № - user_903,[2019-01-01 16:31:16,0.0,0.0,0.0
2,Запись пользователя № - user_954,[2019-01-01 17:17:51,0.0,0.0,0.0
3,Запись пользователя № - user_954,[2019-01-01 21:31:18,0.0,0.0,0.0
4,Запись пользователя № - user_917,[2019-01-01 23:34:55,156789.0,0.0,-156789.0
...,...,...,...,...,...
994,Запись пользователя № - user_984,[2019-04-20 9:59:58,9754.0,0.0,-9754.0
995,#error,NaN,10054.0,29265.0,19211.0
996,#error,NaN,10454.0,0.0,-10454.0
997,#error,NaN,1000.0,0.0,-1000.0
998,#error,NaN,10754.0,0.0,-10754.0

In [7]:
log.time = log.time.apply(lambda x: x.minute)

In [67]:
log["win"].head()

0         0.0
1         0.0
2         0.0
3         0.0
4   -156789.0
Name: win, dtype: float64