In [1]:
import pandas as pd

In [2]:
ufo_data = pd.read_csv('./data/ufo.csv')
ufo_df = ufo_data.copy()

In [5]:
ufo_df.head()

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,1930-06-01 22:00:00
1,Willingboro,NaN,OTHER,NJ,1930-06-30 20:00:00
2,Holyoke,NaN,OVAL,CO,1931-02-15 14:00:00
3,Abilene,NaN,DISK,KS,1931-06-01 13:00:00
4,New York Worlds Fair,NaN,LIGHT,NY,1933-04-18 19:00:00

In [4]:
ufo_df['Time'] = pd.to_datetime(ufo_df['Time'])

In [7]:
usa_year = ufo_df['Time'].dt.year

In [8]:
usa_year.mode()

0    1999
Name: Time, dtype: int64

In [18]:
period = ufo_df[ufo_df['State'] == 'NV']['Time'].diff()

In [19]:
print(period)

76                     NaT
172     1678 days 08:00:00
565     2766 days 06:00:00
566        0 days 01:00:00
613      290 days 11:00:00
               ...
17447     22 days 00:00:00
17567     14 days 00:25:00
17617      5 days 22:00:00
17890     31 days 05:50:00
18104     33 days 15:15:00
Name: Time, Length: 284, dtype: timedelta64[ns]

In [20]:
print(period.mean(axis=0))

68 days 22:19:49.399293286