In [2]:
import pandas as pd

In [3]:
rating_df = pd.read_excel('data/ratings+movies.xlsx', sheet_name='ratings')
movies_df = pd.read_excel('data/ratings+movies.xlsx', sheet_name='movies')

In [14]:
joined = rating_df.join(
    movies_df.set_index('movieId'),
    on='movieId',
    how='inner'
)
display(joined.head())

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
516,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
874,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1434,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1667,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

In [15]:
joined.to_excel('data/rating_movies.xlsx', index=False)